<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>form2</title>
</head>
<body>
    <form method="POST" action="./results">
        <label>color</label>
        <select>
            <option name="color" value="purple">purple</option>
            <option name="color" value="red">red</option>
            <option name="color" value="blue">blue</option>
            <option name="color" value="black">black</option>
        </select>

        <button name="submit">Submit</button>
    </form>
</body>
</html>